# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/myskypar/repositories/mehmet-kan-1453"
PassengerBaseURI "/"
PassengerNodejs "/home/myskypar/nodevenv/repositories/mehmet-kan-1453/22/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

# cPanel/LiteSpeed static-file handling for the generated public directory.
Options -MultiViews
Options -Indexes
